body {
    overflow-x: hidden;
    background-color: rgb(255, 255, 255) !important;
}

.fourth-sectin-div {
    background: linear-gradient(135deg, rgb(255, 255, 255) 39%, rgba(223, 251, 27, 16) 32%);
    display: flex;
    justify-content: end;
}


.home_btn {
    background: #d6fb00;
    border-radius: 0% !important;
    width: 25%;
    height: 35px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.home_btn:hover {
    background-color: black;
    color: white;
    margin-left: 10px;
}
